<!DOCTYPE html>
<html>
  <head>
    <title>BlogIt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--%= stylesheet_link_tag 'style' %-->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--%= javascript_pack_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' %-->
  </head>
  <body>
    <nav class="navbar navbar-toggleable-md navbar-expand-sm bg-dark navbar-dark">
         <a class="navbar-brand" href="#">BlogIt</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
         <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><%= link_to "  Home", home_path, :class => 'fa fa-home nav-link' %> </li>
            <li class="nav-item"> <%= link_to "  Create Post", new_post_path, :class => 'fa fa-plus nav-link' %></li>
          </ul>
          </div>
      </nav>
      
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <%= render 'layouts/side_bar' %>
          </div>
          <div class="col-lg-7">
            <%= yield %>
          </div>
          <div class="col-lg-2"></div>
        </div>
      </div>
      </body>
    </html>
